@{
    ViewData["Title"] = "Dashboard";
}

<main>
    <div class="text-center">
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title" class="display-4">Dashboard</h1>
            <p class="lead">Endless Kakuro challenges and fun!</p>
        </section>
    </div>

    <div class="sections-container">
        <section class="rounded-section full-width-section" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Daily Kakuro</h2>
            <p>Play today's challenge in order to see how you place globally compared to other competitors</p>
            <p><a class="btn-get-started" href="/Home/DailyGame">Play &raquo;</a></p>
        </section>
        <section class="rounded-section" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Days Played Count</h2>
            <p>View your devotion to the game!</p>
            <p><a class="btn-get-started" href="/Home/DaysPlayed">Days Played &raquo;</a></p>
        </section>
        <section class="rounded-section" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Leader Boards</h2>
            <p>Check out the leader boards and how you place globally. Have you moved up?</p>
            <p><a class="btn-get-started" href="/Home/Leaderboard">Boards &raquo;</a></p>
        </section>
        <section class="rounded-section" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Game</h2>
            <p>Play more to increase your Kakuro rank</p>
            <p><a class="btn-get-started" href="/Home/PlayGame">Play &raquo;</a></p>
        </section>
    </div>
</main>

<style>
    .full-width-section {
        flex: 1 1 100%; /* Forces it to take the full width */
        max-width: 98%; /* Hacky fix to make it equal length to the rows of 3 */
    }
     .full-width-section {
         flex: 1 1 100%; /* Forces it to take the full width */
         max-width: 98%; /* Hacky fix to make it equal length to the rows of 3 */
     }

    .btn-get-started {
        display: inline-block;
        background-color: #258cfb;
        color: #fff;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 15px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .btn-get-started:hover {
        background-color: #1a73e8;
        transform: translateY(-3px);
    }
</style>