@{
    ViewData["Title"] = "Home Page";
}

<div class="landing-page">

    <div class="sections-container">
        <section class="rounded-section full-width-section" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Most immersive Kakuro game yet!</h2>
            <p>Play, compete and climb the leader boards while playing your favourite Kakuro games and challenging friends</p>
            <p><a class="btn-get-started" href="/Auth/Register">Play &raquo;</a></p>
        </section>
        <div class="rounded-section">
            <h2>Daily Challenge</h2>
            <p>All players receive a daily challenges which gives them the opportunity to climb the leader boards and
                see where they place compared to others globally or in their circle</p>
            <p><a class="btn-get-started" href="/Auth/Register">Try Daily Game &raquo;</a></p>
        </div>
        <div class="rounded-section">
            <h2>History</h2>
            <p>Accumulate a public repository of past games played in order to try them again and see how you have improved.
                You can also see your friend's past games and see if you can beat their time.</p>
            <p><a class="btn-get-started" href="/Auth/Register">Sign Up &raquo;</a></p>
        </div>
        <div class="rounded-section">
            <h2>Social</h2>
            <p>Add friends and compare your positions on the global leaderboards or challenge each other. You can also
                see their history and attempt games they've played in the past to see if you can finish faster!</p>
            <p><a class="btn-get-started" href="/Auth/Register">Sign Up &raquo;</a></p>
        </div>
    </div>
</div>

<style>
    .full-width-section {
        flex: 1 1 100%; /* Forces it to take the full width */
        max-width: 98%; /* Hacky fix to make it equal length to the rows of 3 */
    }

    .btn-get-started {
        display: inline-block;
        background-color: #258cfb;
        color: #fff;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 15px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .btn-get-started:hover {
        background-color: #1a73e8;
        transform: translateY(-3px);
    }
</style>